.mod_slideshow {
  position: relative;
  margin: 1em 0; }
  .mod_slideshow.loading .slide {
    display: none; }
  .mod_slideshow.loading .slide:first-child {
    display: block; }
  .mod_slideshow .slide {
    position: relative;
    width: 940px; }
    .mod_slideshow .slide .image img {
      vertical-align: bottom; }
  .mod_slideshow .thumb {
    cursor: pointer; }
