.mod_slideshow {
  position: relative;
  margin: 1em 0; }
  .mod_slideshow.loading .slide {
    display: none; }
  .mod_slideshow.loading .slide:first-child {
    display: block; }
  .mod_slideshow .slide {
    position: relative;
    width: 940px; }
    .mod_slideshow .slide .image img {
      vertical-align: bottom; }
  .mod_slideshow .thumb {
    cursor: pointer; }

.mod_slideshow.fader .slides {
  position: relative; }
.mod_slideshow.fader .slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }
  .mod_slideshow.fader .slide.active {
    position: static;
    opacity: 1; }
.mod_slideshow.fader .thumbs {
  position: absolute;
  top: 10px;
  right: 0; }
