@import "_com_slideshow-base";

.mod_slideshow.continuous {

	.slides {
		width: 940px;
		margin: 0 auto;

		> div {
			position: relative;
			left: -1880px;
			width: 30000px;
		}
	}
	
	.slide {
		float: left;
	}

	.overlay1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		z-index: 5;

		background: url(../images/slideshow-top.png) top no-repeat;
	}
	.overlay2 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 13px;
		z-index: 6;

		background: url(../images/slideshow-bottom.png) top no-repeat;
	}

	.overlay3 {
		width: 940px;
		position: absolute;
		left: 50%;
		margin-left: -470px;
		z-index: 5;

		> div {
			position: absolute;
			right: 100%;
			top: 16px;
			height: 360px;
			width: 44px;

			background: url(../images/shadow-left.png) no-repeat;
		}
	}

	.overlay4 {
		width: 940px;
		position: absolute;
		left: 50%;
		margin-left: -470px;
		z-index: 5;

		> div {
			position: absolute;
			left: 100%;
			top: 16px;
			height: 360px;
			width: 44px;

			background: url(../images/shadow-right.png) no-repeat;
		}
	}
}