@import "_com_slideshow-base";

.mod_slideshow.fader {
	.slides {
		position: relative;
	}

	.slide {
		position: absolute;
		top: 0;
		left: 0;

		opacity: 0;

		&.active {
			position: static;
			opacity: 1;
		}
	}

	.thumbs {
		position: absolute;
		top: 10px;
		right: 0;
	}
}